@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #0A192F inset !important; /* keep dark bg */
  -webkit-text-fill-color: #ffffff !important; /* text stays white */
  transition: background-color 5000s ease-in-out 0s; /* prevents flashing */
}